.CartSlot{
    width: 800px;
    height: 90px;
    margin: auto;
    font-size: 30px;
    color: midnightblue;

    background-color: white;
    border: 0.5px solid grey;
    background-color: rgb(197, 188, 188);
    border-top:none ;
    
}
.CartSlotImg{
    width: 70px;
    height: 89px;
}
.CartSlotImg img{
    position: relative;
    width: 70px;
    height: 89px;
    cursor: pointer;
}
.UnFull{
    padding-top: 15%;
    padding-bottom: 15%;
    margin: auto;
    font-size: 30px;
    color: midnightblue;
    max-width: 1200px;
    min-width: 1200px;
    background-color: white;
    position: relative;
    text-align: center;
}
.CartSlotInfo{
    font-size: 20px;
    float: left;
    margin-top: -89px;
    margin-left: 75px;

}
.CartSlotInfo input{
    text-align: center;
    width: 30px;
    height: 17px;
    border: none;
    
}
.CartSlotInfo button{
    width: 20px;
    height: 20px;
    
}
.Del{
    float: right;
    margin-top: -89px;
    height: 100%;
}
.Del img{
    height: 100%;
}
.TotalPrice{
    text-align: center;
    font-size: 30px;
}