h1{
    text-align: center;
}
.SlotPageMenu{
    max-width: 1200px;
    min-width: 1200px;
    background-color: rgba(9, 40, 87, 0.9);
    margin: auto;
    text-align: left;
    position: relative;
    color: wheat;
}
.SlotPageMenuImg{

width: 600px;
height: 570px;

background-color: rgba(16, 89, 199, 0.432);

}
.SlotPageMenuImgBar{

    width: 195px;
    height: 570px;
    float: left;
    text-align: center;
    vertical-align: 300px;
    background-color: rgba(9, 40, 87, 0.781);
}
.SlotPageMenuImgBar li{
    display: block;
}
.SlotPageMenuImgBar img{
    width: 100px;
    height: 100px;
    vertical-align: 100%;
    padding-top: 10px;
    overflow: auto;
    cursor: pointer;
}
.SlotPageMenuImgMenu{
    float: right;
    width: 403px;
    height: 500px;
    
}
.SlotPageMenuImgMenu img{
    width: 100%;
    height: 100%;
}
.SlotPageMenuInfo{
    margin-top: -570px;
    float: right;
    width: 600px;
    height: 560px;
}
.Description{
    
    margin: auto;
    height: 350px;
    overflow: auto;
    width: 550px;
    
}
.SlotPageMenuCartInfo{
    font-size: 25px;
    margin-left: 25px;
}
.AddToCart{
    margin-top: 75px;
    width: 600px;
    height: 88px;

    border: none;
    font-size: 25px;
    background-color: rgb(44, 143, 241);
    color: wheat;
    cursor: pointer;
    
}
.AddToCart:hover{
    background-color: rgba(157, 189, 221, 0.973);
    color: black;
}